﻿ul.ui-autocomplete {
    list-style: none;
}

.ui-autocomplete {
    border: 1px solid #CBD3DD;
    background: #FFF;
    max-width: 25%;
    cursor: pointer;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

div .addIngredients {
    border: 1px solid black;
    padding: 5px;
}

div .addInstructions {
    border: 1px solid black;
    padding: 5px;
}

div #ingredientSearchbar {
    display: flex;
}

div #ingredientSearchbar input {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

div #instructionTextBar {
    display: flex;
}

div #instructionTextBar input {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

input.noTextborder, textarea.noTextborder {
    border: none;
    border-color: transparent;
    background: transparent;
}

input.measurementTextBox {
    width: 50%;
}

textarea {
    resize: none;
}

table {
    width: 100%;
}

td.ten {
    width: 10%;
}

td.eighty {
    width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.error {
    color: red;
}
