﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.border-bottom-override {
    border-image-source: url(../images/plaidbackground.png);
    border-image-slice: 10;
    border-image-repeat: repeat;
    border-bottom: 15px solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.kitchen-header-bg {
    background-color: #FFFAEE;   
}

.logo {
    width: 100px;
    float:left;
}

.kitchen-container {
    max-width: 1270px;
}

.kitchen-nav {
    width: 200px;
}

.kitchen-btn-search {
    background-color: #885221;
    border-color: #5d3213;
    background-image: url(../images/white-magnifying-glass-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 50px;
    height: calc(1.5em + 0.75rem + 2px);
}

.kitchen-search-txt {
    width: 250px;
    display: inline-block;
    height: calc(1.5em + 0.75rem + 2px);
}

.kitchen-text-dark {
    color: #212529;
    height: calc(1.5em + 0.75rem + 2px);
}

.kitchen-text-dark:hover {
    text-decoration: underline;
    color: #212529;
    cursor: pointer;
}

/* Recipe section of home screen */
.recipe-section {
    grid-template-columns: repeat(3, 1fr);
}

.kitchen-card-text {
    color: black;
}

.kitchen-recipe-card-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.kitchen-recipe-card {
    width: 300px;
    min-width: 300px;
    margin-right: 2px;
}

.kitchen-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4d4d4d;
    line-height: 18px;
    margin-right: 2px;
    max-width: 100%;
    padding-bottom: 2px;
    width: auto;
}

#kitchen-recipe-filter-div {
    padding-right: 20px;
}

.kitchen-page-div-active {
    text-decoration: underline;
    font-weight: bold;
}

.kitchen-page-div {
    color: blue;
}

.kitchen-page-div:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Login Logout styles */
#kitchen-sign-in-anchor {
    margin: 0 10px 0 10px;
}


#kitchen-logout-anchor {
    margin: 0 10px 0 10px
}

/* Account page styles */
.kitchen-account-tab:hover {
    background-color: #57c8de;
}

.kitchen-pic-upload-btn {
    color: #885221;
    border-color: #5d3213;
    
    margin-top: 10px;
}

.kitchen-account-avatar {
    cursor: pointer;
}

#profile-picture {
    height: 250px;
    width: 250px;
}

#profile-div {
    width: 50%;
}

#add-recipe-btn {
    color: #885221;
    cursor: pointer;
}

#add-recipe-btn:hover {
    font-weight: bold;
    border:0px;
}

/*General Form Styles*/
.kitchen-valid-text {
    color: green;
}

.kitchen-invalid-text {
    color: red;
}

#registration-error, #login-error, #rating-error, #deletion-error {
    color: red;
    margin-top: 5px;
    text-align: center;
    white-space: pre-wrap;
}

/* Recipe details page styles */

.kitchen-recipe-picture {
    max-width: 100%;
    max-height: 500px;
}

.kitchen-rating-label {
    font-family: inherit;
}

#kitchen-rate-recipe-anchor {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.kitchen-rating-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.kitchen-rating-starred {
    color: orange;
}

.kitchen-recipe-details-back-btn {
    float: right;
    background: none;
    border: none;
    color: blue;
}

.kitchen-recipe-details-back-btn:hover {
    text-decoration: underline;
}

.kitchen-recipe-details-back-btn:focus {
    outline: none;
}

/* Edit Recipe page styles */
.kitchen-delete-btn {
    float: right;
    background: none;
    border: none;
    color: blue;
    outline: none;
}

.kitchen-delete-btn:hover {
    text-decoration: underline;
}

.kitchen-delete-btn:focus {
    outline: none;
}

/* My Recipes Tab styles */
.kitchen-delete-success {
    position: absolute;
    top: 119px;
    margin-left: 28%;
    margin-right: auto;
    width: 250px;
    background-color: lightgreen;
    font-weight: lighter;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/* General styles*/

.kitchen-btn {
    color: #885221;
    border-color: #5d3213;
    width: 100%;
    margin-top: 10px;
}

.kitchen-btn:hover, .kitchen-recipe-book-btn:hover {
    background-color: #57c8de;
}

.kitchen-btn-disabled {
    background-color: lightgray;
}

.kitchen-btn-disabled:hover {
    background-color: lightgray;
}

.kitchen-recipe-book-btn {
    color: #885221;
    border-color: #5d3213;
    width: auto;
    margin-top: 10px;
}

.kitchen-account-icons {
    height: calc(1.5em + 0.75rem + 2px);
    width: calc(1.5em + 0.75rem + 2px);
    cursor: pointer;
}

#account-icon {
    padding: 0px;
    margin: 0px;
}

.kitchen-img-thumbnail {
    border-radius: 50%;
    object-fit: cover;
}

.kitchen-modal-wrapper {
    max-width: 400px;
    min-width: 300px;
    background-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.kitchen-recipe-book-list {
    margin-top: 10px;
}

.kitchen-links {
    color: blue;
    cursor: pointer;
}

.kitchen-links:hover {
    text-decoration: underline;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #c4e8ee;
    height: 100%;
}

.wrapper {
    max-width: 1270px;
    min-width: 600px;
    min-height: calc(100vh - 60px);
    margin: auto;
    background-color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #FFFAEE;
    max-width: 1270px;

    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 15px solid;
    border-image-source: url(../images/plaidbackground-footer.png);
    border-image-slice: 10;
    border-image-repeat: repeat;
}

/* Edit Profile Link
-------------------------------------------------- */
a.register:link {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

/* _MyRecipe Tab Table
-------------------------------------------------- */
th:hover {
    cursor: pointer;
}

.table-sortable th {
    cursor: pointer;
}

.table {
    margin-top: 20px;
    line-height: 40px;
}

.table > thead > tr:first-child > th {
    border: none;
}

.table-sortable > thead > tr:first-child > th {
    border: none;
}

.table > tbody > tr:first-child > th {
    border: none;
}

.table-sortable > tbody > tr:first-child > th {
    border: none;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

/* Ingredient Shopping List Link
-------------------------------------------------- */
#model_title {
    display: inline-block;
    margin-right: 10px;
}

#add-to-shopping-list-btn {
    display: inline-block;
    width: 200px;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

a#add-to-shopping-list-btn:hover {
    text-decoration: underline;
}

.kitchen-remove-shopping-list-item {
    cursor: pointer;
    color: blue;
}

.kitchen-remove-shopping-list-item:hover {
    text-decoration: underline;
}

.alert-success {
    position: fixed;
    top: 120px;
    left: 50%;
    z-index: 7000;
    width: 200px;
    margin-left: -100px;
}

/* Grocery List Page
-------------------------------------------------- */
.list-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#list-title {
    text-align: center;
}

#printbtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

@media print {
    #printbtn {
        display: none;
    }
    #back-button {
        display: none;
    }
}

/* Shopping Cart
-------------------------------------------------- */
.fa-list {
    padding-left: 5px;
    cursor: pointer;
}

.badge {
    position: absolute;
    background: #e74c3c;
    height: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 1rem;
    font-size: 20%;
    border-radius: 50%;
    color: white;
}
