﻿@model TheKitchen.Models.Recipe

<div class="form-group">
    <input type="text" class="form-control form-control-lg" id="recipeName" asp-for="Title" placeholder="Recipe Name" name="title" required>
    <span asp-validation-for="Title" class="text-danger"></span>
    <div id="confirm-small-title" class="kitchen-invalid-text d-none">
        The title must be at least 2 characters long.
    </div>
    <div id="confirm-long-title" class="kitchen-invalid-text d-none">
        The title cannot be longer than 45 characters.
    </div>
</div>
<div class="form-group">
    <textarea class="form-control form-control-lg" id="recipeDescription" asp-for="Description" rows="3" placeholder="Description" name="description" required></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <div id="confirm-small-description" class="kitchen-invalid-text d-none">
        The description must be at least 2 characters long.
    </div>
    <div id="confirm-long-description" class="kitchen-invalid-text d-none">
        The description cannot be longer than 500 characters.
    </div>
</div>
<div class="form-group addIngredients">
    <h4>Ingredients</h4>
    <div id="ingredientSearchbar">
        <input type="search" class="form-control form-control-lg" id="ingredientSearch" placeholder="Enter ingredient name here, then click Add.">
        <input type="button" class="nav-link btn kitchen-btn" id="addNewIngredient" value="Add" />
    </div>
    <br />
    <table class="table" id="ingredientTable" name="ingredientTable">
        <tbody>
            @if (Model != null && Model.Ingredients != null)
            {
                @for (int i = 0; i < Model.Ingredients.Count; i++)
                {
                    <tr>
                        <td>@Html.EditorFor(model => model.Ingredients[i].Measurement, new { htmlAttributes = new { @required = "required" } })</td>
                        <td>@Html.EditorFor(model => model.Ingredients[i].Ingredient, new { htmlAttributes = new { @class = "noTextborder", @readonly = "true" } })</td>
                        <td><input type="button" class="cancel" value="X"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <span asp-validation-for="Ingredients" class="text-danger"></span>
    <div id="confirm-duplicate-ingredient" class="kitchen-invalid-text d-none">
        That ingredient is already on the list.
    </div>
    <div id="confirm-empty-ingredient" class="kitchen-invalid-text d-none">
        You cannot add a blank ingredient.
    </div>
    <div id="confirm-no-ingredient" class="kitchen-invalid-text d-none">
        You must add at least one ingredient.
    </div>
</div>
<div class="form-group addInstructions">
    <h4>Instructions</h4>
    <div id="instructionTextBar">
        <input type="text" class="form-control form-control-lg" id="instructionText" placeholder="Enter instruction step here, then click Add.">
        <input type="button" class="nav-link btn kitchen-btn" id="addNewInstruction" value="Add" />
    </div>
    <br />
    <table class="table" id="instructionTable" name="instructionTable">
        <tbody>
            @if (Model != null && Model.Directions != null)
            {
                @for (int i = 0; i < Model.Directions.Count; i++)
                {
                    <tr>
                        <td><i class="fa fa-bars"></i></td>
                        <td>@Html.EditorFor(model => model.Directions[i].Step, new { htmlAttributes = new { @class = "noTextborder index", @readonly = "true" } })</td>
                        <td>@Html.TextAreaFor(model => model.Directions[i].InstructionText, 2, 50, new { @class = "noTextborder", @readonly = "true" })</td>
                        <td><input type="button" class="cancel" value="X"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <span asp-validation-for="Directions" class="text-danger"></span>
    <div id="confirm-short-instruction" class="kitchen-invalid-text d-none">
        Instruction must be at least 2 characters long.
    </div>
    <div id="confirm-no-instruction" class="kitchen-invalid-text d-none">
        You must add at least one instruction.
    </div>
</div>
<div class="custom-file">
    <input type="file" class="custom-file-input form-control-lg" accept=".jpg,.png" name="image" id="recipeFileUpload">
    <label class="custom-file-label" id="recipeFileUploadLabel" for="recipeFileUpload">
        Choose a Recipe Image
    </label>
</div>