@model TheKitchen.Models.Recipe

@section Scripts {
    <script src="@Url.Content("~/js/CreateRecipe.js")" type="text/javascript"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/CreateRecipe.css" />
}

@{
    ViewData["Title"] = "Create Recipe";
}
<h3>Create a New Recipe</h3>
<br />
<form id="newRecipeForm" name="newRecipeForm" enctype="multipart/form-data" method="post" asp-controller="Recipe" asp-action="Create">
    <partial name="_RecipeForm" />
    <button type="submit" class="nav-link btn kitchen-btn" id="newRecipeButton">Create Recipe</button>
</form>
<br />