﻿@model TheKitchen.Models.Recipe
@using System.Security.Claims;

@section Scripts {
    <script src="@Url.Content("~/js/rateRecipe.js")" type="text/javascript"></script>
}

@{
    string ingredientString = Model.Title + "     ";
    for (var i = 0; i < Model.Ingredients.Count(); i++)
    {
        ingredientString += "   " + Model.Ingredients[i].Measurement + " " + Model.Ingredients[i].Ingredient + "     ";
    }
}

<div class="alert alert-success float-right center-block"
     role="alert" id="success-alert"
     style="display:none;">
    Successfully Added!
</div>

<button type="button"
        id="back-button"
        class="kitchen-recipe-details-back-btn">
    Back
</button>
<h3 id="model_title">@Model.Title</h3>
@if (User.Identity.IsAuthenticated)
{
    <a id="add-to-shopping-list-btn" id="delete-recipe"
       onclick="getModel('@ingredientString');">
       Add to Grocery List!
    </a>
}
<div class="d-flex">
    @if (Model.Picture == null)
    {
        <img class="kitchen-recipe-picture"
             src="~/images/recipe-image-placeholder.gif"
             alt="recipe image"
             id="recipe-picture">
    }
    else
    {
        <img class="kitchen-recipe-picture"
             src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)"
             alt="recipe picture"
             id="recipe-picture">
    }
</div>
<br />
<h4>@Model.Description</h4>
<div class="d-flex justify-content-start">
    <div class="mr-3">
        <span class="kitchen-rating-label">Taste:</span>
        @for (int i = 0; i < 5; i++)
        {
            @if (i < Model.TasteRating)
            {
                <span class="fa fa-star kitchen-rating-starred"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }
    </div>
    <div class="mr-4">
        <span class="kitchen-rating-label">Difficulty:</span>
        @for (int i = 0; i < 5; i++)
        {
            @if (i < Model.DifficultyRating)
            {
                <span class="fa fa-star kitchen-rating-starred"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }
    </div>
    @if (User.Identity.IsAuthenticated
    && Model.UserId != TheKitchen.Utilities.User.GetUserIDFromEmail(User.FindFirst(ClaimTypes.Email).Value))
    {
        <div>
            <a id="kitchen-rate-recipe-anchor">
                Rate Recipe
            </a>
        </div>
        <div id="recipe-rating-form-div" class="d-none">
            <div id="recipe-taste-rating-div">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="kitchen-rating-label justify-content-end">Taste:</span>&nbsp;
                @for (int i = 1; i <= 5; i++)
                {
                    <button type="button"
                            class="fa fa-star kitchen-rating-button kichten-taste-rating-btn"
                            onclick="tasteRating(@Model.Id, @i);"></button>
                }
            </div>
            <div id="recipe-difficulty-rating-div">
                <span class="kitchen-rating-label">Difficulty:</span>&nbsp;
                @for (int i = 1; i <= 5; i++)
                {
                    <button type="submit"
                            class="fa fa-star kitchen-rating-button kichten-difficulty-rating-btn"
                            onclick="difficultyRating(@Model.Id, @i);"></button>
                }
            </div>
            <div id="rating-error"></div>
            <input type="hidden" id="recipeID" value="@Model.Id" />
        </div>
    }
</div>
<br />
<partial name="_AddRecipeToRecipeBook" model="@Model" view-data="ViewData" />
<br />
<br />
<h4 id="ingredient_header">Ingredients</h4>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Measurement</th>
            <th scope="col">Ingredient</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RecipeIngredient r in Model.Ingredients)
        {
            <tr>
                <td>@r.Measurement</td>
                <td>@r.Ingredient</td>
            </tr>
        }
    </tbody>
</table>
<h4>Directions</h4>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Step</th>
            <th scope="col">Instruction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Instruction i in Model.Directions)
        {
            <tr>
                <td>@i.Step.</td>
                <td>@i.InstructionText</td>
            </tr>
        }
    </tbody>
</table>
<br />