﻿@model TheKitchen.Models.Recipe

@section Scripts {
    <script src="@Url.Content("~/js/CreateRecipe.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/deleteRecipe.js")" type="text/javascript"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/CreateRecipe.css" />
}

@{
    ViewData["Title"] = "Edit Recipe";
}
<button
        type="button"
        class="kitchen-delete-btn"
        data-toggle="modal"
        data-target="#confirm-delete-div">Delete Recipe</button>
<partial name="_ConfirmRecipeDelete" />
<div id="deletion-error"></div>
<h3>Edit a Recipe</h3>
<br />
<form id="newRecipeForm" name="newRecipeForm" enctype="multipart/form-data" method="post" asp-controller="Recipe" asp-action="Edit">
    <partial name="_RecipeForm" />
    <input hidden name="recipeID" id="recipeID" value="@Model.Id" />
    <button type="submit" class="nav-link btn kitchen-btn" id="newRecipeButton">Edit Recipe</button>
</form>
<br />