﻿@model IEnumerable<TheKitchen.Models.Recipe>
@{
    ViewData["Title"] = "Recipe Index";
}

<h3>Recipes</h3>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var recipe in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => recipe.Title)</td>
            <td>@Html.DisplayFor(modelItem => recipe.Description)</td>
        </tr>
    }
</table>
