﻿@model TheKitchen.Models.Recipe

@{
    var recipes = ViewData["recipes"] as List<Recipe>;
}

@if (recipes.Count() == 0)
{
    <div>No results found</div>
}

@foreach (var recipe in recipes)
{
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="Recipe/Details/@recipe.Id">

                @if (recipe.Picture == null)
                {
                    <img class="kitchen-recipe-card-image"
                         src="~/images/recipe-image-placeholder.gif"
                         alt="recipe picture">
                }
                else
                {
                    <img class="kitchen-recipe-card-image"
                         src="data:image;base64,@System.Convert.ToBase64String(recipe.Picture)"
                         alt="recipe picture">
                }
            </a>

            <div class="card-body">
                <h4 class="card-title">
                    <a href="Recipe/Details/@recipe.Id" class="kitchen-text-dark">
                        @recipe.Title
                    </a>
                </h4>
                <p class="card-text kitchen-card-text">
                    <a href="Recipe/Details/@recipe.Id" class="kitchen-text-dark">
                        @recipe.Description
                    </a>
                </p>
            </div>
            <div class="card-footer">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="kitchen-rating-label justify-content-end">Taste:</span>&nbsp;
                @for (int i = 0; i < 5; i++)
                {
                    @if (i < recipe.TasteRating)
                    {
                        <span class="fa fa-star kitchen-rating-starred"></span>
                    }
                    else
                    {
                        <span class="fa fa-star"></span>
                    }
                }
                <br />
                <span class="kitchen-rating-label">Difficulty:</span>&nbsp;
                @for (int i = 0; i < 5; i++)
                {
                    @if (i < recipe.DifficultyRating)
                    {
                        <span class="fa fa-star kitchen-rating-starred"></span>
                    }
                    else
                    {
                        <span class="fa fa-star"></span>
                    }
                }
                <br />
                &nbsp;&nbsp;&nbsp;
                <span class="kitchen-rating-label">Added:</span>&nbsp;
                @recipe.DateAdded.ToShortDateString()
                <span>
                    <partial name="_AddRecipeToRecipeBook" model="@recipe" view-data="ViewData" />
                </span>
            </div>
        </div>
    </div>
}
