﻿@{
    ViewData["Title"] = "Home Page";
    var recipeCount = Convert.ToInt32(ViewData["recipeCount"]);
    var pageSize = Convert.ToInt32(ViewData["pageSize"]);
    var page = Convert.ToInt32(ViewData["page"]);
}

@section Scripts {
    <script src="@Url.Content("~/js/home.js")" type="text/javascript"></script>
}

<form action="/Home" method="get" id="recipe-filter">
    <div class="d-flex justify-content-end" id="kitchen-recipe-filter-div">
        <div class="mr-1 mb-3">
            <select class="form-control"
                    id="sort-by-select"
                    name="sortBySelect">
                <option value="">Sort by</option>
                <option value="difficulty">difficulty</option>
                <option value="taste">taste</option>
                <option value="added">date added</option>
                <option value="name">name</option>
            </select>
            <input type="hidden" id="selectedSortBy" />
        </div>
        <div class="mr-1 mb-3">
            <select class="form-control"
                    id="order-by-select"
                    name="sortBySelect">
                <option value="">Order by</option>
                <option value="lowToHigh">low to high</option>
                <option value="highToLow">high to low</option>
            </select>
            <input type="hidden" id="selectedOrderBy" />
        </div>
    </div>
    <div class="container flex-wrap">
        <div class="row" id="recipes-div">
            <partial name="_RecipeGrid" />
        </div>
        <div class="d-flex justify-content-center" id="kitchen-recipe-filter-div">
            @if (recipeCount > pageSize)
            {
                var totalPages = recipeCount % pageSize > 0 ? (recipeCount / pageSize) + 1 : recipeCount / pageSize;
                var maxButtons = 5;
                var startingPage = 1;
                var endingPage = maxButtons;

                if (page >= maxButtons)
                {
                    startingPage = page - 2;
                    endingPage = page + 2;
                }

                if (page == totalPages && page > maxButtons)
                {
                    startingPage = page - (maxButtons - 1);
                    endingPage = page;
                }

                if (endingPage > totalPages && page > maxButtons)
                {
                    startingPage -= 1;
                    endingPage -= 1;
                }

                if (page >= maxButtons)
                {
                    <div class="mt-3 mb-3 kitchen-page-div">1</div>
                    <div class="mt-3 mb-3">...</div>
                }

                for (int i = startingPage; i <= endingPage; i++)
                {
                    if (i == page)
                    {
                        <div class="ml-2 mr-1 mt-3 mb-3 kitchen-page-div-active">@(i)</div>
                    }
                    else
                    {
                        <div class="ml-2 mr-1 mt-3 mb-3 kitchen-page-div">@(i)</div>
                    }

                    if (i == totalPages)
                    {
                        break;
                    }
                }

                if ((totalPages > maxButtons) && endingPage != totalPages)
                {
                    <div class="mr-1 mt-3 mb-3">...</div>
                    <div class="mt-3 mb-3 kitchen-page-div">@totalPages</div>
                }
            }
        </div>
    </div>
    <input type="hidden" id="page" name="page" value="@ViewData["page"]" />
</form>