﻿@model TheKitchen.Models.Recipe

@{
    var books = ViewData["recipeBooks"] as List<TheKitchen.Models.RecipeBook>;
}

@if (books != null && books.Count >= 1)
{
    <form></form>
    <form action="/RecipeBook/AddRecipe/"
          id="add-recipe-form"
          method="post"
          autocomplete="off"
          data-recipe-id="@Model.Id">
        <div class="row">
            <div class="column">
                <select name="bookID" class="form-control kitchen-recipe-book-list">
                    @foreach (RecipeBook book in books)
                    {
                        <option value='@book.Id' name="bookID">@book.Name</option>
                    }
                </select>
                <input type="number" value="@Model.Id" name="recipeID" hidden />
            </div>
            &nbsp;&nbsp;
            <div class="column">
                <button type="button"
                        id="add-recipe-btn-@(Model.Id)"
                        class="btn kitchen-recipe-book-btn"
                        onclick="addRecipeToBook(this.closest('form'), event)">
                    Add to recipe book
                </button>
            </div>
        </div>
    </form>
}