﻿<div id="confirm-delete-book-div" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b>Delete this recipe book?</b>
            </div>
            <div class="modal-body">
                What you are about to do cannot be undone, are you
                sure you want to proceed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete-book">Yes, proceed.</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">No, retreat!</button>
            </div>
        </div>
    </div>
</div>