﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="confirm-delete-div" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b>Delete this recipe?</b>
            </div>
            <div class="modal-body">
                What you are about to do cannot be undone, are you
                sure you want to proceed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete-recipe">Yes, proceed.</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">No, retreat!</button>
            </div>
        </div>
    </div>
</div>
