﻿@using Microsoft.AspNetCore.Http

@section Scripts {
    <script src="@Url.Content("~/js/shoppingCart.js")" type="text/javascript"></script>
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom-override kitchen-header-bg mb-3">
        <div class="container kitchen-container d-flex">
            <div class="d-flex justify-content-start">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/thekitchenlogo.png" class="logo" title="the kitchen logo" />
                </a>
            </div>
            <div class="d-flex justify-content-center kitchen-search-div">
                <form id="search-form" method="get" action="/Home">
                    <input
                           type="text"
                           class="form-control kitchen-search-txt"
                           id="search"
                           name="search"
                           placeholder="Search recipes">
                    &nbsp;&nbsp;
                    <button
                            type="submit"
                            class="btn kitchen-btn-search"
                            id="button-search"
                            value="@ViewData["search"]"></button>
                    <input type="hidden" name="sortBy" id="sortBy" />
                    <input type="hidden" name="orderBy" id="orderBy" />
                </form>
            </div>
            <div class="justify-content-end">
                <ul class="navbar-nav d-flex justify-content-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="/Account">
                                @if (Context.Session.Get("avatar") != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(Context.Session.Get("avatar"))"
                                         class="kitchen-account-icons kitchen-img-thumbnail"
                                         id="account-icon"
                                         alt="account"
                                         title="Account"
                                         data-toggle="tooltip"
                                         data-placement="bottom" />
                                }
                                else
                                {
                                    <img src="~/images/account-icon.png"
                                         class="kitchen-account-icons kitchen-img-thumbnail"
                                         id="account-icon"
                                         alt="account"
                                         title="Account"
                                         data-toggle="tooltip"
                                         data-placement="bottom" />
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Logout"
                               id="kitchen-logout-anchor"
                               class="nav-link kitchen-links"
                               onclick="clearShoppingCart();">
                                Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <img src="~/images/create-account-icon.png"
                                 class="kitchen-account-icons kitchen-img-thumbnail"
                                 alt="create account"
                                 title="Create Account"
                                 id="create-account-icon"
                                 data-toggle="modal"
                                 data-target="#register-form-div" />
                        </li>
                        <li class="nav-item">
                            <span id="kitchen-sign-in-anchor"
                                  class="nav-link kitchen-links">
                                Sign In
                            </span>
                        </li>
                    }
                    <li>
                        <div class="icon-wrapper">
                            <i class="fa fa-list fa-3x" style="color:#885221;" data-toggle="modal" data-target="#shopping-list-div"></i>
                            <span class="badge"></span>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginForm" />
                <partial name="_RegistrationForm" />
                <partial name="_ShoppingList" />
            </div>
        </div>
    </nav>
</header>
