﻿<div id="login-form-div" class="d-none">
    <div>
        <form action="/User/Login" id="login-form" method="post" onsubmit="login(this); return false;">
            <input type="email"
                   name="loginEmail"
                   id="loginEmail"
                   class="form-control form-control-sm"
                   placeholder="email"
                   required>
            <br />
            <input type="password"
                   name="loginPassword"
                   id="loginPassword"
                   class="form-control form-control-sm"
                   placeholder="password"
                   required>
            <button type="submit"
                    class="btn kitchen-btn"
                    id="login-button"
                    data-loading-text="Signing in..">
                Sign In
            </button>
        </form>
    </div>
    <div id="login-error"></div>
</div>
