﻿@using TheKitchen.Utilities
@using System.Security.Claims;

<div id="register-form-div" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationLabel">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>Update Your Account</p>
                        <small>
                            You can update your account information here!
                        </small>
                    }
                    else
                    {
                        <p>Create an Account</p>
                        <small>
                            Registering allows you to create and rate recipies!
                        </small>
                    }
                    <br />
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form 
                          id="register-update-form"
                          autocomplete="off">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="text"
                                               class="form-control form-control-lg"
                                               name="firstName"
                                               value='@User.FindFirst(ClaimTypes.GivenName).Value'
                                               required>
                                    }
                                    else
                                    {
                                        <input type="text"
                                               class="form-control form-control-lg"
                                               name="firstName"
                                               placeholder="First Name"
                                               required>
                                    }
                                    <span id="registration-first-name-error" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="text"
                                               class="form-control form-control-lg"
                                               name="lastName"
                                               value='@User.FindFirst(ClaimTypes.Surname).Value'
                                               required>
                                    }
                                    else
                                    {
                                        <input type="text"
                                               class="form-control form-control-lg"
                                               name="lastName"
                                               placeholder="Last Name"
                                               required>
                                    }
                                    <span id="registration-last-name-error" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="email"
                                               class="form-control form-control-lg"
                                               name="email"
                                               value='@User.FindFirst(ClaimTypes.Email).Value'
                                               title="Please enter a valid email address"
                                               required>
                                    }
                                    else
                                    {
                                        <input type="email"
                                               class="form-control form-control-lg"
                                               name="email"
                                               placeholder="Email"
                                               title="Please enter a valid email address"
                                               required>
                                    }
                                    <span id="registration-email-error" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select class="form-control form-control-lg"
                                            name="countryCode"
                                            required>
                                        @foreach (System.Data.DataRow row in Country.GetCountryDataTable().Rows)
                                        {
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (@User.FindFirst(ClaimTypes.Country).Value.Equals(row["Code"].ToString()))
                                                {
                                                    <option value="@row["Code"]" selected>@row["Name"]</option>
                                                }
                                                <option value="@row["Code"]">@row["Name"]</option>
                                            }
                                            else
                                            {
                                                <option value="@row["Code"]">@row["Name"]</option>
                                            }
                                        }
                                    </select>
                                    <span id="registration-country-error" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="password"
                                               placeholder="Change Password"
                                               name="password"
                                               id="password"
                                               class="form-control form-control-lg"
                                               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,45}$"
                                               title="Passwords must be 8 to 45 characters and include a number, lowercase letter, uppercase letter, and special character"
                                               maxlength="45"
                                               autocomplete="new-password">
                                    }
                                    else
                                    {
                                        <input type="password"
                                               placeholder="Password"
                                               name="password"
                                               id="password"
                                               class="form-control form-control-lg"
                                               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,45}$"
                                               title="Passwords must be 8 to 45 characters and include a number, lowercase letter, uppercase letter, and special character"
                                               maxlength="45"
                                               required
                                               autocomplete="new-password">
                                    }
                                    <div id="invalid-password-div" class="kitchen-invalid-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="password"
                                               placeholder="Confirm Password"
                                               name="confirmPassword"
                                               id="confirm-password"
                                               class="form-control form-control-lg"
                                               title="Passwords must match">
                                    }
                                    else
                                    {
                                        <input type="password"
                                               placeholder="Confirm Password"
                                               name="confirmPassword"
                                               id="confirm-password"
                                               class="form-control form-control-lg"
                                               title="Passwords must match"
                                               required>
                                    }
                                    <div id="confirm-password-invalid"
                                         class="kitchen-invalid-text d-none">
                                        The passwords do not match
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="image registerField">
                                        <div class="custom-file">
                                            <input type="file"
                                                   class="custom-file-input form-control-lg"
                                                   accept=".jpg,.png"
                                                   name="image"
                                                   id="registration-file-upload">
                                            <label class="custom-file-label"
                                                   id="registration-file-upload-label"
                                                   for="registration-file-upload"
                                                   name="image">
                                                Choose a Profile Image
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="text-center">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <button type="button"
                                                    id="submit-update"
                                                    class="nav-link btn kitchen-btn"
                                                    name="submit"
                                                    value="Update">
                                                Update
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button"
                                                    id="submit-register"
                                                    class="nav-link btn kitchen-btn kitchen-btn-disabled"
                                                    name="submit"
                                                    value="Register"
                                                    disabled>
                                                Register
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-none">
                            <div class="col">
                                <div class="form-group">
                                    <div class="text-center">
                                        <input type="text"
                                               accept=".jpg,.png"
                                               name="pot"
                                               id="pot"
                                               value="honey">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="registration-error"></div>
            </div>
        </div>
    </div>
</div>