﻿@using System.Security.Claims;

@section Scripts {
    <script src="~/js/shoppingCart.js" asp-append-version="true"></script>
}

<div id="shopping-list-div" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationLabel">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>Shopping List</p>
                        <small>
                            Add recipes then print or email yourself the ingredient list!
                        </small>
                    }
                    else
                    {
                        <p>Shopping List</p>
                        <small>
                            Register or sign in to access this feature. <br /><br />

                            You'll be able to make a list of recipes and their <br />
                            ingredients which you can then print and/or email <br />
                            to yourself before you go shopping!
                            <br /><br />
                        </small>
                    }
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <table id="shoppingListTable" class="table">
                            <thead>
                                <tr>
                                    <th>Recipes</th>
                                </tr>
                            </thead>
                            <tbody class="tr"></tbody>
                        </table>
                        <br />
                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group">
                                    <form method="get" asp-controller="Home" asp-action="GroceryList">
                                        <button type="submit"
                                                id="submitBtn"
                                                class="nav-link btn kitchen-btn"
                                                name="submit"
                                                value="Print">
                                            Print
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-group">
                                    <button type="submit"
                                            id="submitBtn"
                                            class="nav-link btn kitchen-btn"
                                            name="submit"
                                            value="Email"
                                            onclick="sendEmail('@User.FindFirst(ClaimTypes.Email).Value');">
                                        Email
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>