﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<button type="button"
        id="back-button"
        class="kitchen-recipe-details-back-btn"
        onclick="window.history.back();">
    Back
</button>

<br />
<br />

<div>
    <img src="~/images/thekitchenlogo.png" class="list-logo" title="the kitchen logo" />
</div>

<br />
<h2 id="list-title">Your Grocery List</h2>

<div class="col text-center">
    <button type="button"
            id="printbtn"
            class="nav-link btn kitchen-btn text-center"
            onclick="window.print();">
        Print Grocery List
    </button>
</div>

<br />
<div class="print-list"></div>
