﻿@model TheKitchen.Models.RecipeBook

<div class="modal fade" id="newRecipeBookModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recipeBookTitle">Please enter a recipe book name.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="newRecipeBookForm" name="newRecipeBookForm" method="post" asp-controller="RecipeBook" asp-action="Create">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" id="recipeBookName" asp-for="Name" placeholder="Recipe Book Name" name="Name" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="createRecipeBookButton" class="nav-link btn kitchen-btn">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
