﻿@model TheKitchen.Models.AccountModel

@{
    var account = ViewData["account"] as AccountModel;
    var user = account.User;
    var recipes = account.Recipes;
}


<br />
<button
        type="button"
        class="nav-link btn kitchen-btn"
        id="add-new-recipe">
    Add new recipe
</button>

<!-- Recipe Table -->
<table class="table table-sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th>Taste Rating</th>
            <th>Difficulty Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in recipes)
        {
            <tr>
                <td>
                    <a href="/Recipe/Details/@recipe.Id">
                        <div style="height:100%;width:100%" class="kitchen-links">
                            @recipe.Title
                        </div>
                    </a>
                </td>
                <td>@recipe.DateAdded</td>
                <td>
                    <span style="visibility:hidden">@recipe.TasteRating</span>
                    @for (int i = 0; i < 5; i++)
                    {
                        @if (i < recipe.TasteRating)
                        {
                            <span class="fa fa-star kitchen-rating-starred"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </td>
                <td>
                    <span style="visibility:hidden">@recipe.DifficultyRating</span>
                    @for (int i = 0; i < 5; i++)
                    {
                        @if (i < recipe.DifficultyRating)
                        {
                            <span id="difficulty" class="fa fa-star kitchen-rating-starred"></span>
                        }
                        else
                        {
                            <span id="difficulty" class="fa fa-star"></span>
                        }
                    }
                </td>
                <td>
                    <a asp-controller="Recipe" asp-action="Edit" asp-route-recipeID="@recipe.Id">
                        <div style="height:100%;width:100%" class="kitchen-links">
                            Edit
                        </div>
                    </a>
                </td>
                <td>
                    <div style="height:100%;width:100%" id="">
                        <button type="button"
                                class="kitchen-delete-btn"
                                data-toggle="modal"
                                data-target="#confirm-delete-div"
                                id="my-recipes-delete-btn"
                                data-id="@recipe.Id">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <partial name="_ConfirmRecipeDelete" />
</table>