﻿@model TheKitchen.Models.AccountModel
@using TheKitchen.Utilities

@{
    var account = ViewData["account"] as AccountModel;
    var user = account.User;
}

<br>
<div class="container bootstrap snippet" id="profile-div">
    <div class="justify-content-center">
        <div class="text-center">
            @if (user.Image == null)
            {
                <img src="~/images/avatar.png"
                     class="kitchen-img-thumbnail"
                     alt="profile picture"
                     title="change profile picture"
                     id="profile-picture">
            }
            else
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(user.Image)"
                     class="kitchen-img-thumbnail"
                     alt="profile picture"
                     id="profile-picture">

            }
            <br />
            <br />
            <a data-target="#register-form-div" class="kitchen-links" data-toggle="modal" id="EditUser"
               href="#register-form-div">Edit Your Profile</a>
            <partial name="_RegistrationForm" />
        </div>
        <br />
        <h3>
            @user.FirstName
            @user.LastName
        </h3>
        <h3>
            @Country.GetCountryFromCode(user.CountryCode)
        </h3>
        <h3>
            Member since @user.DateAdded.ToLongDateString()
        </h3>
    </div>
</div>