﻿@model TheKitchen.Models.AccountModel

@{
    var account = ViewData["account"] as AccountModel;
    var user = account.User;
    var books = account.RecipeBooks;
}

<br />
<button type="button" class="nav-link btn kitchen-btn" data-toggle="modal" data-target="#newRecipeBookModal">
    Create new recipe book
</button>
<br />

<!-- Recipe Table -->
<table class="table table-sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in books)
        {
            <tr>
                <td>
                    <a href="#"
                       class="book-title kitchen-links"
                       id="book-details"
                       data-id="@book.Id"
                       data-name="@book.Name">
                        @book.Name
                    </a>
                </td>
                <td>@book.DateAdded</td>
                <td>
                    <button type="button"
                            class="kitchen-delete-btn recipe-book-delete-btn"
                            data-toggle="modal"
                            data-target="#confirm-delete-book-div"
                            data-id="@book.Id">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <partial name="_ConfirmRecipeBookDelete" />
</table>

<!-- Recipe Book detail modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-book-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sortable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Added</th>
                        </tr>
                    </thead>
                    <tbody class="table-placeholder"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_CreateRecipeBook" />
