﻿@model TheKitchen.Models.RecipeBook

@{
    ViewBag.Title = "Recipe Book Details";
}

@if (Model != null)
{
    foreach (var r in Model.Recipes)
    {
        <tr>
            <td>
                <a href="Recipe/Details/@r.Recipe.Id" class="kitchen-links">@r.Recipe.Title</a>
            </td>
            <td>@r.DateAdded</td>
            <td>
                <button type="button"
                        class="kitchen-delete-btn recipe-book-detail-delete-btn"
                        id="recipe-book-detail-delete-btn"
                        data-id="@r.Id">
                    Remove
                </button>
            </td>
        </tr>
    }
}
<script src="~/js/deleteRecipeFromBook.js" asp-append-version="true"></script>