﻿@using System.Security.Claims;

@{
    ViewData["Title"] = "Account";
    var account = ViewData["account"] as AccountModel;
    var user = account.User;
}

@section Scripts {
    <script src="~/js/account.js" asp-append-version="true"></script>
    <script src="~/js/deleteRecipe.js" asp-append-version="true"></script>
}

<h3>
    @user.FirstName
    @user.LastName
</h3>


<div class="alert kitchen-delete-success d-none" id="delete-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Deletion successful</strong>
</div>

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active kitchen-text-dark kitchen-account-tab" href="#profile"
               data-toggle="tab">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link kitchen-text-dark kitchen-account-tab" href="#recipe-books"
               data-toggle="tab">My Recipe Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link kitchen-text-dark kitchen-account-tab" href="#recipe-ratings"
               data-toggle="tab">My Recipes</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane container active" id="profile"><partial name="_Profile" /></div>
    <div class="tab-pane container fade" id="recipe-books"><partial name="_RecipeBooks" /></div>
    <div class="tab-pane container fade" id="recipe-ratings"><partial name="_MyRecipes" /></div>
</div>


